@(consumerstate: models.ZkKafka.ConsumerState)(implicit request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Consumer</title>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="layer/layer.js"></script>
  <script src="layer/extend/layer.ext.js"></script>
  <style type="text/css">
  body {
    margin:0px auto;
  }
  fixedLayer {
    position:fixed;
    left: 40px;
    top: 10px;
    width:100px;
    line-height:30px;
    background: #FC6;
    border:1px solid #F90;
  }
  </style>
</head>
<body>
  <script>
    function func1() {
        layer.alert('内容');
    }
 </script>
  <p>createtime @consumerstate.createtime</p>
  <p>modifytime @consumerstate.modifytime</p>
</body>
</html>